.Notifications{
  border: 2px dashed #c7254e;
  padding: 2rem;
  float: right;
  /*margin-bottom: 2rem;*/
}

.menuItem {
  text-align: right;
  margin-right: .5rem;
}

[data-priority="default"] {
  color: blue;
}

[data-priority="urgent"] {
  color: red;
}

.default {
  color: blue;
}

.urgent {
  color: red;
}

[data-notification-type="default"] {
  color: blue;
}

[data-notification-type="urgent"] {
  color: red;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}